body {
    font-family: arial, helvetica, sans-serif;
    font-size: 16px;
    margin: 20px;
    background-color: #f5f8e1;
    text-align: center;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    margin: 0; padding: 0; 
}
    
h1 { font-size: 15px; color: #797; }
h2 { font-size: 34px; }
h3 { font-size: 26px; margin-top: 12px; }
h4 { font-size: 21px; }

#page {
    width: 640px;
    margin: 0 auto;
    padding: 3px 20px;
    border: solid 1px #d5d8c1;
    background: white url('/images/monopoly-car.jpg') 340px -60px no-repeat;
    text-align: left;
}

#header, #content {
    margin: 12px 0px;
}

.menu {
    float: right;
    font-size: 11px;
}

.menu ul {
    list-style: none;
    margin: 0; padding: 0;
}

.menu ul li {
    display: inline;
    margin: 0; padding: 0;
}

.menu ul li a {
    color: black;
    text-decoration: none;
    margin: 0px 2px; padding: 3px 6px;
    font-weight: bold;
    background-color: #f1f4d8;
    -moz-opacity: 0.92;
}

.menu ul li a.active {
    background-color: #f1e428;
}

.menu ul li a:hover {
    color: white;
    background-color: #C13438;
}

ul.errors {
    color: black;
    background-color: #f1e428;
    padding: 4px;
    margin: 0 0 10px 0;
    -moz-opacity: 0.80;
    width: 250px;
    list-style: none;
}

form.create {
    padding: 0 0 10px 0;
}

form.create .required,
form.create .optional {
    padding: 5px 0;
}

form.create label {
    display: block;
    color: #575;
    font-size: 10px;
}

form.create div.inline input,
form.create div.inline label,
form.create div.inline select
{
    display: inline;
    width: auto;
}

form.create div input,
form.create div select {
    font-size: 16px;
    width: 250px;
    padding: 1px;
}

form.create div input.fixed {
    font-family: "Lucida Console", monospace;
}

form.create div input.large {
    font-size: 21px;
    font-weight: bold;
}

form.create div input.long {
    width: 450px;
}

table {
    border-collapse: collapse;
    border: 2px solid #3f3c5f;
    color: #000;
    background: #fff;
    width: 100%;
}
caption {
    margin: 0.3em 0;
    font-size: .7em;
    font-weight: normal;
    text-align: left;
    color: #000;
    background: transparent;
}
td, th {
    border: 1px solid #336;
    padding: 0.3em;
}
thead th {
    border: 1px solid #336;
    text-align: left;
    font-weight: bold;
    background-color: #f1f478;
    color: #333;
}
tfoot th, tfoot td {
    border: 1px solid #396;
    text-align: left;
    background: #e8e8cf;
}
tfoot th {
    font-weight: bold;
}
tbody td a {
    background: transparent;
    color: #00c;
    text-decoration: underline;
}
tbody td a:hover {
    background: transparent;
    color: #00c;
    text-decoration: underline;
}
tbody tr:hover th {
    background-color: #c66;
}
tbody tr:hover th a {
    color: white;
}
tbody th a {
    background: transparent;
    color: #3f7c5f;
    text-decoration: underline;
    font-weight: normal;
}
tbody th, tbody td {
    vertical-align: top;
    text-align: left;
    font-size: 15px;
}
tfoot td {
    border: 1px solid #996;
}
tbody tr:hover {
    background: #efffd9;
}
tbody th:hover p {
    color: #fec;
}
tbody th p {
    font-size: 12px;
    font-weight: normal;
    margin: 4px 0;
}
.details {
    display: none;
    padding-left: 12px;
}
.details p {
    font-size: 10px;
    line-height: 110%;
}
